{
  "extends": "airbnb",      
  "rules": {
    "no-plusplus": 0,
    "no-bitwise": 0,
    "arrow-parens": 0,
    "react/prefer-es6-class": 0,
    "react/jsx-uses-react": 1,
    "react/require-default-props": 0,
  }   
}